/* Adjust the container styling */
.mat-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }

  .mat-card {
    width: 28%; /* Adjust the width as per your design, subtracting margin */
    margin-bottom: 16px;
    margin-right: 25px; /* Adjust the bottom margin as per your design */
  }
  

  
  
  
  