<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" required />
      <div *ngIf="isFieldInvalid('email') && isFieldTouched('email')">
        Please enter a valid email address.
      </div>

      <label for="resetPasswordToken">Reset Password Token</label>
      <input type="resetPasswordToken" id="resetPasswordToken" formControlName="resetPasswordToken" required />

      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" required />
      
      <div *ngIf="isFieldInvalid('newPassword') && isFieldTouched('newPassword')">
        Password must be at least 7 characters long.
      </div>
    </div>

    <button type="submit">Reset Password</button>
  </form>
</div>
