*{
    font-weight: bold;
}
body {

    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    
  }
  .container{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
  }
  .form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    margin-bottom: 150px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    margin-bottom: 5px;
    text-align: center;
  }
  
  input {
    padding: 5px;
    margin-bottom: 15px;
  }
  
  button {
    background-color:rgb(255, 38, 38);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  button:hover {
    background-color: rgb(11, 254, 48);
  }

 p{
    color: black;
    font-size: 50px;
    font-weight: bold;
 }
 .successful{
    margin-bottom: 240px;
 }